section.pubkey= config.pubkey
section.copyright !{link_to('http://opensource.org/licenses/MIT', 'MIT License')} &middot; Published with !{link_to('https://hexo.io/', 'Hexo')} &middot; !{link_to(config.feed.url, 'RSS Feed')}