if theme.logo
  a(href= config.root)
    img(src= theme.logo, alt= config.title, title= config.title)
h1
  a(href= config.root, alt= config.title, title= config.title, itemprop='headline')= config.title
p(itemprop='description')!= config.description
nav(itemscope, itemtype='https://schema.org/SiteNavigationElement')
  ul
    each url, label in theme.menu
      li(itemprop='name')
        a(href= url, alt= label, title= label, itemprop='url')= label